@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
}
.projeto-brasilia {
    display: flex;
    margin: 50px;
}

.video {
    width: 40%;  
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.textos {
    width: 50%;
    margin: 30px;
    text-align: justify;
    line-height: 1.5rem;
}

.textos h2 {
    font-size: 2rem;
    color: rgb(151 0 0 );
    margin-bottom: 10px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .projeto-brasilia { 
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .video {
        width: 100%;
        align-items: center;
    }

    .textos {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .projeto-brasilia { 
        display: flex;
        flex-direction: column;
    }
    .video {
        width: 100%;
        height: 50%;  
    }

    .textos h2 {
        font-size: 1.5rem;
        text-align: center;
    }
}

