* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

header {
    width: 100vw;
    
}

.logomenu {
    width: 10rem;  
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display:flex;
    padding: 10px;
    margin: 10px;
    align-items: center;
}

.menunav {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.menunav a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: rgb(150 0 0);
    color: white;
    border-radius: 3px;
}

.menunav a:hover {
    background-color: rgb(200 0 0);
}