@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

.imagem-oquefazemos {
    width: 300px;
    border-radius: 0 20px 0 20px;
    box-shadow: 0 0 8px rgba(22, 22, 22, 0.849);
    margin-left: 80px; 
}

/*.imagem-oquefazemos:hover {
    fazer a imagem transitar
    
}*/

.oquefazemos {
    width: 100vw;
    height: 400px;
    background: #0c9ac5ad;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.h2-bg {
    color: aliceblue;
    text-align: left;
    margin-left: 50px;
    font-size: 1.5rem;
}

.p-bg {
    color: aliceblue;
    margin-left: 50px;
    line-height: 1.3rem;
    text-indent: 50px;
    text-align: justify;
    width: 500px;
    font-size: .9rem;
}

@media screen and (max-width: 768px) {
    .imagem-oquefazemos {
        margin: 15px auto;
    }
    .oquefazemos {
        display: block;
        width: 100%;
        text-align: center;
    }
    .h2-bg {
        text-align: center;
    }
    .p-bg {
        width: 90%;
        margin: 20px;
    }
}

@media screen and (max-width: 600px) {
    .oquefazemos {
        display: block;
        width: 100%;
        text-align: center;
        margin: 20px;
    }
    .h2-bg {
        text-align: center;
    }
    .p-bg {
        width: 90%;
        margin: 20px;
    }

}