* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

.projeto-brasilia {
    display: flex;
    margin: 50px;
}


.img-brasilia {
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px black; 
    cursor: pointer; 
}

.textos {
    margin: 30px;
    text-align: justify;
    line-height: 1.5rem;
}

.textos h2 {
    font-size: 2rem;
    color: rgb(151 0 0 );
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .projeto-brasilia { 
        display: inline-block;
    }
    .video {
        width: 100%;
        align-items: center;
    }

    .textos h2 {
        
    }
}

@media screen and (max-width: 600px) {
    .projeto-brasilia { 
        display: inline-block;
    }
    .video {
        width: 100%;
        align-items: center;
    }

    .textos h2 {
        text-align: center;
    }
}


