* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

.rodape {
    width: 100%;
    display: block;
    background: rgb(0, 0, 0); 
}

.midia-social {
    font-size: 1.5rem;
    justify-content: center;
    display: flex;
}

.p-rodape {
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    color: cornsilk;
}

.fab {
    margin: 10px;
}

@media screen and (max-width: 768px){
    .rodape {
        width: 100%;
    }
    .p-rodape {
        font-size: .8rem;
    }
}
@media screen and (max-width: 600px){
    .rodape {
        width: 100%;
    }
    .p-rodape {
        font-size: .6rem;
    }
}