@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 10vw;
}


.projeto-brasilia {
    
    display: flex;
    margin: 50px;
}

.video {
    max-width: 500px;  
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.textos {
    width: 500px;
    margin: 30px;
    text-align: justify;
    line-height: 1.5rem;
}

.textos h2 {
    font-size: 2rem;
    color: rgb(151 0 0 );
    margin-bottom: 10px;
}